html {
    background-color: lightgray;
}
body,html {
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One', sans-serif;
}
#page {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
header {
    height: 12.9vh;
    padding-top: 2vh;
    text-align: center;
    font-size: 3.1vh;
}
main{
    height: 75vh;
    display: flex;
    justify-content: center;
}
#p-selection, #c-selection{
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-size: 2vh;
}
img{
    height: 20vh;
    margin: 1vh;
    border-radius: 15%;
}
.photo:hover{
    transform: scale(1.1);
}
#score{
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#score-board{
    font-size: 10vh;
    margin-bottom: 15vh;
}
#selections, #winner{
    font-size: 5vh;
}
#winner{
    margin-top: 0;
}
footer{
    text-align: center;
}
button{
    font-size: 3vh;
    border-radius: 12px;
    border: 2px solid darkgray
}
